@charset "utf-8";
.Лейб {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 110px;
	font-style: normal;
	line-height: normal;
}
.Rigth_panel {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 18px;
	text-decoration: underline;
	margin-left:10px;
}
.Uslygi_in_personal_cabinet {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 24px;
	text-decoration: underline;
	margin-left:15px;
}
.warning {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 16px;
	color: #FC0A0E;
}

.main_text {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 18px;
}

.without_underline20px {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 24px;
	margin-left:15px;
}